@model ArtUp.Client.Models.ProjectViewModel
@{
    ViewBag.Title = "CreateProject";
}

<style>
    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .form-list > li {
        margin-bottom: 10px;
    }

    label.required em, span.required em, p.required {
        content: ' *';
        color: #df280a;
    }

    .main-container {
        font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
        color: #434343;
        font-size: 12px;
        line-height: 1.5;
        position: relative;
        max-width: 1260px;
        margin: 0 auto;
        padding: 30px;
        font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    }

        .main-container h1 {
            font-size: 24px;
        }

        .main-container h2 {
            font-size: 20px;
        }

        .main-container .page-title {
            text-transform: uppercase;
            font-weight: 600;
            border-bottom: 1px solid #ededed;
            padding-bottom: 3px;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

    .form-list .field, .form-list .wide, .form-list .control {
        margin-bottom: 10px;
    }

    .main-container form input[type="text"],
    .main-container form input[type="email"],
    .main-container form input[type="password"] {
        padding: 3px 5px;
        width: 400px;
    }

    .pay-main .inner_section {
        position: relative;
        margin-bottom: 20px;
        padding: 20px;
        border-top: 4px solid transparent;
        -moz-border-radius: 4px;
        border-radius: 4px;
        background-color: #e7f9f5;
        -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    }

    .pay-main .pay__left, .pay-main .pay__right {
        padding-left: 0;
    }

    .pay-main hr {
        border-top: 1px solid #8a9;
    }

    .pay-main .donate__status {
        margin-top: -15px;
    }

    .pay-main .section__body__left {
        display: inline-block;
    }
</style>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Создание проекта</h2>
                </div>
            </div>
        </div>
    </div>
</div>



<div role="tabpanel">
@using (Html.BeginForm("CreateProject", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <ul class="product-tab" role="tablist">
        <li role="presentation" class="active"><a href="#general" aria-controls="general" role="tab" data-toggle="tab">Оcновное</a></li>
        <li role="presentation"><a href="#gifts" aria-controls="gifts" role="tab" data-toggle="tab">Подарки</a></li>
        <li role="presentation"><a href="#description" aria-controls="description" role="tab" data-toggle="tab">Описание</a></li>
        <li role="presentation"><a href="#personal" aria-controls="personal" role="tab" data-toggle="tab">Контакты</a></li>
        <li style="width:230px"><input type="submit" class="nb-btn create__nav__btn create__nav__btn-more--inactive" value="Отправить на модерацию" id="send-project" disabled="disabled"/></li>
    </ul>
    <div class="tab-content  main-container main-newproject">
            <div role="tabpanel" class="tab-pane fade in active" id="general">
                @Html.AntiForgeryToken()
                <div class="new-project__left col-md-12">
                    <section class="nb-create create--title project-edit-form nb-create--valid">
                        <div class="nb-create__head">
                            <h5 class="nb-heading--small create__heading--small">Название проекта</h5>
                        </div>
                        <div class="nb-create__body">
                            <div class="nb-input-wrap nb-create__input-wrap">
                                @Html.Hidden("UserId", (int)ViewBag.UserId)
                                @Html.TextBoxFor(m => m.Title, new { @placeholder = "Введите название проекта" })
                                @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger"})
                            </div>
                            <p class="nb-create-desc">Название должно быть лаконичным, уникальным и запоминающимся. Будьте уверены в том, что название проекта отражает его суть.</p>
                        </div>
                    </section>
                    <section class="nb-create create--description project-edit-form nb-create--valid">
                        <div class="nb-create__head">
                            <h5 class="nb-heading--small create__heading--small">Краткое описание проекта</h5>
                        </div>
                        <div class="nb-create__body">
                            <div class="nb-textarea-wrap">
                                @Html.TextAreaFor(m => m.ShortDescription, new { @placeholder = "Коротко расскажите о проекте" })
                                @Html.ValidationMessageFor(m => m.ShortDescription, "", new { @class = "text-danger" })
                            </div>
                            <p class="nb-create-desc">Опишите в одном предложении цель вашего проекта.</p>
                        </div>
                    </section>
                    <section class="nb-create create--category project-edit-form">
                        <div class="nb-create__head">
                            <h5 class="nb-heading--small create__heading--small">Категория проекта</h5>
                        </div>
                        <div class="nb-create__body">
                            <div class="nb-dd-toggle-wrap js-dd-select-box">
                                @Html.DropDownListFor(m => m.Category, new List<SelectListItem>()
                                    {
                                        new SelectListItem() { Text = "Музыка"},
                                        new SelectListItem() { Text = "Литература"},
                                        new SelectListItem() { Text = "Кино и видео"},
                                        new SelectListItem() { Text = "Фотография"},
                                        new SelectListItem() { Text = "Живопись"},
                                    },
                                    new {@class = "form-control"}
                                )
                            </div>
                        </div>
                    </section>
                    <section class="nb-create create--location js-section-location project-edit-form">
                        <div id="js-create-map" class="nb-create__map-bg" style="display: none;">

                        </div>
                        <div class="nb-create__head nb-create-location__head">
                            <h5 class="nb-heading--small create__heading--small">Локация проекта</h5>
                        </div>
                        <div class="nb-create__body">
                            <div class="nb-dd-toggle-wrap js-dd-select-box">
                                @Html.DropDownListFor(m => m.Location, new List<SelectListItem>() {
                                    #region Cities
                                        new SelectListItem() { Text = "Минск" },
                                        new SelectListItem() { Text = "Брест" },
                                        new SelectListItem() { Text = "Витебск" },
                                        new SelectListItem() { Text = "Гомель" },
                                        new SelectListItem() { Text = "Гродно" },
                                        new SelectListItem() { Text = "Могилев" },
                                        new SelectListItem() { Text = "Барановичи" },
                                        new SelectListItem() { Text = "Барань" },
                                        new SelectListItem() { Text = "Белоозёрск" },
                                        new SelectListItem() { Text = "Берёза" },
                                        new SelectListItem() { Text = "Березино" },
                                        new SelectListItem() { Text = "Берёзовка" },
                                        new SelectListItem() { Text = "Бобруйск" },
                                        new SelectListItem() { Text = "Борисов" },
                                        new SelectListItem() { Text = "Буда-Кошелёво" },
                                        new SelectListItem() { Text = "Быхов" },
                                        new SelectListItem() { Text = "Василевичи" },
                                        new SelectListItem() { Text = "Верхнедвинск" },
                                        new SelectListItem() { Text = "Ветка" },
                                        new SelectListItem() { Text = "Вилейка" },
                                        new SelectListItem() { Text = "Волковыск" },
                                        new SelectListItem() { Text = "Воложин" },
                                        new SelectListItem() { Text = "Высокое" },
                                        new SelectListItem() { Text = "Ганцевичи" },
                                        new SelectListItem() { Text = "Глубокое" },
                                        new SelectListItem() { Text = "Горки" },
                                        new SelectListItem() { Text = "Городок" },
                                        new SelectListItem() { Text = "Давид-Городок" },
                                        new SelectListItem() { Text = "Дзержинск" },
                                        new SelectListItem() { Text = "Дисна" },
                                        new SelectListItem() { Text = "Добруш" },
                                        new SelectListItem() { Text = "Докшицы" },
                                        new SelectListItem() { Text = "Дрогичин" },
                                        new SelectListItem() { Text = "Дубровно" },
                                        new SelectListItem() { Text = "Дятлово" },
                                        new SelectListItem() { Text = "Ельск" },
                                        new SelectListItem() { Text = "Жабинка" },
                                        new SelectListItem() { Text = "Житковичи" },
                                        new SelectListItem() { Text = "Жлобин" },
                                        new SelectListItem() { Text = "Жодино" },
                                        new SelectListItem() { Text = "Заславль" },
                                        new SelectListItem() { Text = "Иваново" },
                                        new SelectListItem() { Text = "Ивацевичи" },
                                        new SelectListItem() { Text = "Ивье" },
                                        new SelectListItem() { Text = "Калинковичи" },
                                        new SelectListItem() { Text = "Каменец" },
                                        new SelectListItem() { Text = "Кировск" },
                                        new SelectListItem() { Text = "Клецк" },
                                        new SelectListItem() { Text = "Климовичи" },
                                        new SelectListItem() { Text = "Кличев" },
                                        new SelectListItem() { Text = "Кобрин" },
                                        new SelectListItem() { Text = "Копыль" },
                                        new SelectListItem() { Text = "Коссово" },
                                        new SelectListItem() { Text = "Костюковичи" },
                                        new SelectListItem() { Text = "Кричев" },
                                        new SelectListItem() { Text = "Крупки" },
                                        new SelectListItem() { Text = "Лепель" },
                                        new SelectListItem() { Text = "Лида" },
                                        new SelectListItem() { Text = "Логойск" },
                                        new SelectListItem() { Text = "Лунинец" },
                                        new SelectListItem() { Text = "Любань" },
                                        new SelectListItem() { Text = "Ляховичи" },
                                        new SelectListItem() { Text = "Малорита" },
                                        new SelectListItem() { Text = "Марьина Горка" },
                                        new SelectListItem() { Text = "Микашевичи" },
                                        new SelectListItem() { Text = "Миоры" },
                                        new SelectListItem() { Text = "Молодечно" },
                                        new SelectListItem() { Text = "Мосты" },
                                        new SelectListItem() { Text = "Мстиславль" },
                                        new SelectListItem() { Text = "Мядель" },
                                        new SelectListItem() { Text = "Наровля" },
                                        new SelectListItem() { Text = "Несвиж" },
                                        new SelectListItem() { Text = "Новогрудок" },
                                        new SelectListItem() { Text = "Новолукомль" },
                                        new SelectListItem() { Text = "Новополоцк" },
                                        new SelectListItem() { Text = "Орша" },
                                        new SelectListItem() { Text = "Осиповичи" },
                                        new SelectListItem() { Text = "Ошмяны" },
                                        new SelectListItem() { Text = "Петриков" },
                                        new SelectListItem() { Text = "Пинск" },
                                        new SelectListItem() { Text = "Полоцк" },
                                        new SelectListItem() { Text = "Поставы" },
                                        new SelectListItem() { Text = "Пружаны" },
                                        new SelectListItem() { Text = "Речица" },
                                        new SelectListItem() { Text = "Рогачёв" },
                                        new SelectListItem() { Text = "Санкт-Петербург" },
                                        new SelectListItem() { Text = "Светлогорск" },
                                        new SelectListItem() { Text = "Свислочь" },
                                        new SelectListItem() { Text = "Сенно" },
                                        new SelectListItem() { Text = "Скидель" },
                                        new SelectListItem() { Text = "Славгород" },
                                        new SelectListItem() { Text = "Слоним" },
                                        new SelectListItem() { Text = "Слуцк" },
                                        new SelectListItem() { Text = "Смолевичи" },
                                        new SelectListItem() { Text = "Сморгонь" },
                                        new SelectListItem() { Text = "Солигорск" },
                                        new SelectListItem() { Text = "Старые Дороги" },
                                        new SelectListItem() { Text = "Столбцы" },
                                        new SelectListItem() { Text = "Столин" },
                                        new SelectListItem() { Text = "Толочин" },
                                        new SelectListItem() { Text = "Туров" },
                                        new SelectListItem() { Text = "Узда" },
                                        new SelectListItem() { Text = "Фаниполь" },
                                        new SelectListItem() { Text = "Хойники" },
                                        new SelectListItem() { Text = "Чаусы" },
                                        new SelectListItem() { Text = "Чашники" },
                                        new SelectListItem() { Text = "Червень" },
                                        new SelectListItem() { Text = "Чериков" },
                                        new SelectListItem() { Text = "Чечерск" },
                                        new SelectListItem() { Text = "Шклов" },
                                        new SelectListItem() { Text = "Щучин" }
                                    #endregion
                                    },
                                    new {@class = "form-control"}
                                )
                            </div>
                        </div>
                    </section>

                    <div class="editor-label"><h5>Файл изображения</h5></div>
                    <div class="editor-field">
                        <input type="file" name="uploadImage" />
                    </div>
                    <section class="nb-create create--fund project-edit-form">
                        <div class="nb-create__head">
                        <h5 class="nb-heading--small create__heading--small">Бюджет кампании</h5>
                        </div>
                        <div class="nb-create__body">
                            <div class="nb-create__fund cf">
                                <div class="nb-create__money">
                                    <div class="nb-input-wrap">
                                        @Html.TextBoxFor(m => m.RequiredMoney, new { @id = "money-amount", @type = "number"})
                                        @Html.ValidationMessageFor(m => m.RequiredMoney, "", new { @class = "text-danger" })
                                        <span class="nb-input-postfix">руб.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="nb-create__head">
                            <h5 class="nb-heading--small create__heading--small">Продолжительность кампании</h5>
                        </div>
                        <div class="nb-create__body">
                            <div class="nb-create__fund cf">
                                <div class="nb-create__time">
                                    <div class="nb-input-wrap">
                                        @Html.TextBoxFor(m => m.Duration, new { @type = "number"})
                                        @Html.ValidationMessageFor(m => m.Duration, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="nb-create__time-caption">
                                    <span class="nb-create__time-txt">от 1 до 180 дней</span>
                                </div>
                            </div>
                        </div>
                        <div class="nb-create__foot" style="padding-top:15px">
                            <div class="nb-create-fund__info cf">
                                <div class="nb-create-fund__commission">
                                    <strong class="nb-create-fund__value" id="comission">0 руб.</strong>
                                    <span class="nb-create-fund__txt">Комиссионный сбор (@ViewBag.Settings.PlatformComission%)</span>
                                    <span class="nb-tooltip pay__tooltip__link"><span class="nb-tooltip__content">Комиссионный сбор включает общую комиссию ArtUp, банка и платежной системы. Комиссия взимается со всей собранной суммы ТОЛЬКО в случае успешного окончания краудфандинговой кампании.</span></span>
                                </div>
                                <div class="nb-create-fund__income-tax">
                                    <strong class="nb-create-fund__value" id="income">0 руб.</strong>
                                    <span class="nb-create-fund__txt">Подоходный налог (@ViewBag.Settings.IncomeTax%)</span>
                                    <span class="nb-tooltip pay__tooltip__link"><span class="nb-tooltip__content">Подоходный налог, взимаемый государством, составляет @ViewBag.Settings.IncomeTax%. Стоит учитывать, что сумма в @ViewBag.Settings.MaxFreeAmount руб. налогом не облагается. Уплату налога следует производить самостоятельно.</span></span>
                                </div>
                                <div class="nb-create-fund__final-sum">
                                    <strong class="nb-create-fund__value nb-create-fund__value--final">≈ <span class="js-create-final-sum" id="total-sum">0</span> руб.</strong>
                                    <span class="nb-tooltip pay__tooltip__link"><span class="nb-tooltip__content">Данный подсчет является приблизительным. Итоговая сумма может отличаться от указанной.</span></span>
                                </div>
                            </div>
                            <hr class="nb-create-media-divider">
                            <p class="nb-create-desc">Мы рекомендуем указывать минимальную сумму, необходимую для реализации проекта. ArtUp использует модель «все или ничего», а это значит, что для получение средств вам обязательно необходимо собрать от 100% и выше.<br><br>Обращаем ваше внимание на то, что ArtUp берет комиссию только с успешных проектов.</p>
                        </div>
                    </section>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="gifts">
                <h5>Добавление подарков</h5>
                <div id="giftsList"></div>
                <div class="new-project__left col-md-12">
                    <div class="new-project__temp-gift js-project-temp-gift">
                        <section class="nb-section pay-gifts__section js-temp-gift">

                            <div class="nb-create__head">
                                <h5 class="nb-heading--small create__heading--small">Новый подарок</h5>
                            </div>
                            <div class="nb-create__body">
                                <div class="nb-create__gift-sum">
                                    <div class="nb-input-wrap create__gift-sum__input-wrap">
                                        <input type="number" placeholder="руб."class="nb-input nb-input--with-postfix from-control" id="js-gift-sum-input" alt="money" placeholder="Сумма вознаграждения" value="">
                                        <div><span class="nb-input-postfix">руб.</span></div>
                                    </div>
                                    <span class="nb-tooltip create__gift-sum__tooltip__link">?<span class="nb-tooltip__content">Здесь необходимо ввести сумму, которой будет соответствовать ваш подарок.</span></span>
                                </div>
                                <div class="nb-create__gift-description">
                                    <div class="nb-textarea-wrap">
                                        <textarea class="nb-textarea" id="js-gift-description-textarea" placeholder="Описание подарка"></textarea>
                                    </div>
                                </div>
                                <div class="nb-create__gift-limit">
                                    <div class="nb-input-wrap create__gift-limit__input-wrap">
                                        <input type="number" class="nb-input nb-input--with-postfix" id="js-gift-count-input" alt="integer" placeholder="Лимит подарков" value="">
                                    </div>
                                </div>
                                <button id="addNewGift" type="button" class="nb-btn nb-btn--add-media create-gift__btn--add-media">Добавить подарок</button>
                            </div>

                        </section>
                        <div class="new-project__gifts js-project-gifts">
                        </div>
                        <input type="hidden" id="js-hidden-input-gifts-count" name="all-gifts-count" value="0" aria-required="true">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="description">
                <div class="new-project__left col-md-12">
                    <section class="nb-create create--full-description project-edit-form">
                        <div class="nb-create__head">
                            <h5 class="nb-heading--small create__heading--small">Подробное описание проекта</h5>
                        </div>
                        @Html.TextAreaFor(m => m.FullDescription, new { @placeholder = "Абзац или несколько, описывающие ваш проект." })
                    </section>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade in" id="personal">
                <div class="new-project__left col-md-12">
                    <section class="nb-create create--personal project-edit-form ">
                        <div class="nb-create__head">
                            <h5 class="nb-heading--small section__heading--small" style="font-size: 16px">Личные данные организатора</h5>
                            <p class="nb-create-desc create__head__desc">Чтобы ArtUp мог заключить с вами договор, необходимо заполнить паспортные данные. Информация, которую вы передаете в ArtUp, является конфиденциальной и не подлежит разглашению.</p>
                        </div>
                        <div class="nb-create__body">
                            <hr class="popup__divider settings__divider">
                            <h5 class="nb-heading--small section__heading--small">Ваше имя</h5>
                            <div class="nb-section__field" style="margin-bottom: 10px;">
                                <div class="nb-input-wrap nb-section__field">
                                    @Html.TextBoxFor(m => m.Surname, new { @placeholder = "Фамилия" })
                                    @Html.ValidationMessageFor(m => m.Surname, "", new { @class = "text-danger" })
                                    @*<input id="js-settings-surname" type="text" name="user[last_name]" param="last_name" class="nb-input js-ajax-client-update-info" placeholder="Фамилия" value="Обуховский" aria-required="true">*@
                                </div>
                            </div>
                            <div class="nb-section__field cf">
                                <div class="nb-input-wrap settings__input-wrap--name" style="margin-bottom: 10px;">
                                    @Html.TextBoxFor(m => m.Name, new { @placeholder = "Имя" })
                                    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
                                    @*<input id="js-settings-name" type="text" name="user[first_name]" param="first_name" class="nb-input js-ajax-client-update-info" placeholder="Имя" value="Евгений" aria-required="true">*@
                                </div>
                                <div class="nb-input-wrap settings__input-wrap--fname" style="margin-bottom: 10px;">
                                    @Html.TextBoxFor(m => m.MiddleName, new { @placeholder = "Отчество" })
                                    @Html.ValidationMessageFor(m => m.MiddleName, "", new { @class = "text-danger" })
                                    @*<input id="js-settings-fname" type="text" name="user[patronymic]" param="patronymic" class="nb-input js-ajax-client-update-info" placeholder="Отчество" value="" aria-required="true">*@
                                </div>
                            </div>
                            <div class="nb-section__field">
                                <h5 class="nb-heading--small section__heading--small">Дата рождения</h5>
                                <div class="nb-input-wrap nb-input-wrap-date js-get-dob-wrap">
                                    @Html.TextBoxFor(m => m.DateOfBirth, new { @placeholder = "Дата рождения", @type = "date" })
                                    @Html.ValidationMessageFor(m => m.DateOfBirth, "", new { @class = "text-danger" })
                                    @*<input required="" id="datetimepicker" type="text" name="user[dt_birth]" param="dt_birth" placeholder="Дата рождения" class="nb-input nb-input-date js-ajax-client-update-info" value="" aria-required="true">*@
                                </div>
                            </div>
                            <hr class="popup__divider settings__divider">
                            <div class="nb-section__field">
                                <div class="nb-dd-toggle-wrap js-dd-select-box">

                                    <div class="nb-dd-toggle js-toggle-dd">
                                        <span class="nb-dd-toggle-txt js-toggle-dd-txt nb-dd-toggle-txt--default">Выберите тип документа</span>
                                    </div>

                                    @Html.DropDownListFor(m => m.DocumentType, new List<SelectListItem>()
                                        {
                                            new SelectListItem() { Text = "Паспорт" },
                                            new SelectListItem() { Text = "Вид на жительство" },
                                            new SelectListItem() { Text = "Удостоверение беженца" },
                                        },
                                        new {@class = "form-control"}
                                    )

                                    <ul class="nb-dd nb-dd--hidden js-dd-menu">
                                        <li class="nb-dd-item">
                                            <div data-value="" class="dd-item-link js-dd-menu-item dd-item-link--default dd-item-link--selected js-default-select-in-many-input-block">
                                                <span class="">Выберите тип документа</span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="nb-section__field">
                                <div class="nb-input-wrap">
                                    @Html.TextBoxFor(m => m.PasspotNumberSeries, new { @id = "js-settings-series-and-number-doc", @placeholder = "Серия и номер" })
                                    @Html.ValidationMessageFor(m => m.PasspotNumberSeries, "", new { @class = "text-danger" })
                                    @*<input id="js-settings-series-and-number-doc" type="text" name="user[doc_series]" param="doc_series" class="nb-input js-ajax-client-update-info" placeholder="Серия и номер" value="" aria-required="true">*@
                                    <label for="js-settings-series-and-number-doc" class="nb-input-label">Пример: MР1234567</label>
                                </div>
                            </div>
                            <div class="nb-section__field">
                                <div class="nb-input-wrap">
                                    @Html.TextBoxFor(m => m.PersonalPassportNumber, new { @id = "js-settings-personal-num", @placeholder = "Личный номер" })
                                    @Html.ValidationMessageFor(m => m.PersonalPassportNumber, "", new { @class = "text-danger" })
                                    @*<input id="js-settings-personal-num" type="text" name="user[personal_num]" param="personal_num" class="nb-input js-ajax-client-update-info" placeholder="Личный номер" value="" aria-required="true">*@
                                    <label for="js-settings-personal-num" class="nb-input-label">Пример: 1234567A002PB9</label>
                                </div>
                            </div>
                            <div class="nb-section__field">
                                <div class="nb-input-wrap nb-create__input-wrap">
                                    @Html.TextBoxFor(m => m.WhoAndWhereIssued, new { @id = "js-settings-document-issued", @placeholder = "Кем и когда выдан" })
                                    @Html.ValidationMessageFor(m => m.WhoAndWhereIssued, "", new { @class = "text-danger" })
                                    @*<input id="js-settings-document-issued" type="text" name="user[doc_who_issued]" param="doc_who_issued" class="nb-input js-ajax-client-update-info" placeholder="Кем и когда выдан" value="" aria-required="true">*@
                                    <label for="js-settings-document-issued" class="nb-input-label">Пример: Советское РУВД г.Минска, выдан 22.04.2015</label>
                                </div>
                            </div>
                            <div class="nb-section__field">
                                <div class="nb-input-wrap nb-create__input-wrap">
                                    @Html.TextBoxFor(m => m.Adress, new { @id = "js-settings-passport-address", @placeholder = "Адрес регистрации" })
                                    @Html.ValidationMessageFor(m => m.Adress, "", new { @class = "text-danger" })
                                    @*<input id="js-settings-passport-address" type="text" name="user[registration]" param="registration" class="nb-input js-ajax-client-update-info" placeholder="Адрес регистрации" value="" aria-required="true">*@
                                    <label for="js-settings-passport-address" class="nb-input-label">Пример: г. Минск, ул. Епамовская, д.14, кв. 88</label>
                                </div>
                            </div>
                            <div class="nb-section__field">
                                <div class="nb-input-wrap nb-create__input-wrap">
                                    @Html.TextBoxFor(m => m.PhoneNumber, new { @id = "js-settings-phone", @placeholder = "Контактный номер" })
                                    @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
                                    @*<input id="js-settings-phone" type="text" name="user[phone]" param="phone" class="nb-input js-ajax-client-update-info" placeholder="Контактный номер" value="" aria-required="true">*@
                                    <label for="js-settings-phone" class="nb-input-label">Пример: +375 (29) 123 45 67</label>
                                </div>

                            </div>
                            <div class="nb-section__field">
                                <div class="nb-input-wrap nb-create__input-wrap">
                                    @Html.TextBoxFor(m => m.AccountNumber, new { @placeholder = "Номер счёта" })
                                    @Html.ValidationMessageFor(m => m.AccountNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <hr>
                            <input style="display:inline;" type="checkbox" id="rules" /><span> Я ознакомлен с <a target="_blank" href="/Home/Rules">соглашением</a> краудфандинговой платформы ArtUp и принимаю его</span>
                        </div>
                    </section>
                </div>
            </div>
        
    </div>
}
</div>

<script src="https://code.jquery.com/jquery.min.js"></script>
<!-- Bootstrap JS form CDN -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<!-- jQuery sticky menu -->

<script src="js/owl.carousel.min.js"></script>

<script src="js/jquery.sticky.js"></script>

<!-- jQuery easing -->

<script src="js/jquery.easing.1.3.min.js"></script>

<!-- Main Script -->

<script src="js/main.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var i = 0;
        $('#addNewGift').click(function () {
            var amount = $('#js-gift-sum-input').val();
            var description = $('#js-gift-description-textarea').val();
            var count = $('#js-gift-count-input').val();
            $('#giftsList').append('<div id="gift-' + i + '"><h3>Подарок:</h3><input type="button" id="' + i + '" class="remove-gift" value="Удалить"><input type="number" placeholder="Сумма" name="Gifts[' + i + '].MoneyAmount" value="' +
                amount + '"/><input type="text" placeholder="Описание" name="Gifts[' + i + '].Description" value="' +
                description + '"/><input type="number" placeholder="Количество" name="Gifts[' + i + '].AvailableCount" value="' +
                count + '"/></div>');
            i++;
        });
        $('#giftsList').on('click', '.remove-gift', function () {
            $(this).parent().remove();
        });
        $('#money-amount').blur(function () {
            var comission = @ViewBag.Settings.PlatformComission / 100;
            var budget = $(this).val();
            $('#comission').html(Math.round(budget * comission) + "BYN; ");
            if (@ViewBag.Settings.MaxFreeAmount < budget) {
                $('#income').html(Math.round((budget - @ViewBag.Settings.MaxFreeAmount - budget * comission) * @ViewBag.Settings.IncomeTax / 100) + " BYN");
                $('#total-sum').html(Math.round((budget - (budget - @ViewBag.Settings.MaxFreeAmount - budget * comission) * @ViewBag.Settings.IncomeTax / 100 - budget * comission)) + " BYN");
            }
            else {
                $('#income').html("0 BYN")
                $('#total-sum').html(Math.round(budget * (1 - comission)) + " BYN");
            }
        });
        $('#rules').click(function(){
            if (this.checked)
                $('#send-project').removeAttr('disabled');
            else
                $('#send-project').attr('disabled', 'disabled');
        });
    });
</script>
