@{
    ViewBag.Title = "Home Page";
}

<div class="slider-area">
    <div class="zigzag-bottom"></div>
    <div id="slide-list" class="carousel carousel-fade slide" data-ride="carousel">
        <div class="slide-bulletz">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ol class="carousel-indicators slide-indicators">
                            <li data-target="#slide-list" data-slide-to="0" class="active"></li>
                            <li data-target="#slide-list" data-slide-to="1"></li>
                            <li data-target="#slide-list" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="single-slide">
                    <div class="slide-bg slide-one"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <h2>Что-то про наш проект</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, dolorem, excepturi. Dolore aliquam quibusdam ut quae iure vero exercitationem ratione!</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi ab molestiae minus reiciendis! Pariatur ab rerum, sapiente ex nostrum laudantium.</p>
                                            <a href="" class="readmore">Пока неясно, зачем</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-slide">
                    <div class="slide-bg slide-two"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <h2>Что-то, рассказывающее про нас</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aspernatur, dolorum harum molestias tempora deserunt voluptas possimus quos eveniet, vitae voluptatem accusantium atque deleniti inventore. Enim quam placeat expedita! Quibusdam!</p>
                                            <a href="" class="readmore">Кликай сюда</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="single-slide">
                    <div class="slide-bg slide-three"></div>
                    <div class="slide-text-wrapper">
                        <div class="slide-text">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-6 col-md-offset-6">
                                        <div class="slide-content">
                                            <h2>Опять про нас</h2>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores, eius?</p>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti voluptates necessitatibus dicta recusandae quae amet nobis sapiente explicabo voluptatibus rerum nihil quas saepe, tempore error odio quam obcaecati suscipit sequi.</p>
                                            <a href="" class="readmore">Кликай сюда</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End slider area -->
<div class="promo-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <i class="fa fa-refresh"></i>
                    <p>Колёсико</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <i class="fa fa-truck"></i>
                    <p>Грузовичок</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <i class="fa fa-lock"></i>
                    <p>Замок</p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="single-promo">
                    <i class="fa fa-gift"></i>
                    <p>Пустая коробка</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End promo area -->
<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="latest-product">
                    <h2 class="section-title">Лучшие проекты</h2>
                    <div class="product-carousel">
                        @foreach (var project in ViewBag.BestProjects)
                        {
                            <div class="single-project">
                                <div class="product-f-image">
                                    <img src="/Content/img/@project.Avatar" alt="">
                                    <div class="product-hover">
                                        <a href="/Home/Project/@project.Id" class="add-to-cart-link"><i class="fa fa-link"></i> Подробнее</a>
                                    </div>
                                </div>
                                <h2><a href="/Home/Project/@project.Id">@project.Title</a></h2>
                                <div class="product-carousel-price">
                                    <ins>надо @project.RequiredMoney</ins> <del>собрали @project.CurrentMoney</del>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End main content area -->

<div class="brands-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="brand-wrapper">
                    <h2 class="section-title">Это можно выпилить</h2>
                    <h4>Но пока пусть повисит</h4>
                    <div class="brand-list">
                        <img src="/Content/img/services_logo__1.jpg" alt="">
                        <img src="/Content/img/services_logo__2.jpg" alt="">
                        <img src="/Content/img/services_logo__3.jpg" alt="">
                        <img src="/Content/img/services_logo__4.jpg" alt="">
                        <img src="/Content/img/services_logo__1.jpg" alt="">
                        <img src="/Content/img/services_logo__2.jpg" alt="">
                        <img src="/Content/img/services_logo__3.jpg" alt="">
                        <img src="/Content/img/services_logo__4.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End brands area -->

<div class="product-widget-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="single-project-widget">
                    <h2 class="product-wid-title">Новые проекты</h2>
                    <a href="" class="wid-view-more">Смотреть Все</a>
                    <div class="single-wid-product">
                        <a href="single-project.html"><img src="/Content/img/project-thumb-1.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-project.html">Очередной проект, обречённый на провал</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>надо $9999</ins> <del>собрали $14.88</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-project.html"><img src="/Content/img/project-thumb-2.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-project.html">очередной проект, обречённый на провал</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>надо $9999</ins> <del>собрали $14.88</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-project.html"><img src="/Content/img/project-thumb-3.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-project.html">Очередной проект, обречённый на провал</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>надо $9999</ins> <del>собрали $14.88</del>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-project-widget">
                    <h2 class="product-wid-title">Успешные</h2>
                    <a href="#" class="wid-view-more">Смотреть Все</a>
                    @foreach (var project in ViewBag.BestProjectsBottom)
                    {
                        <div class="single-wid-product">
                            <a href="single-project.html"><img src="/Content/img/@project.Avatar" alt="" class="product-thumb"></a>
                            <h2><a href="/Home/Project/@project.Id">@project.Title</a></h2>
                            <div class="product-wid-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="product-wid-price">
                                <ins>надо @project.RequiredMoney</ins> <del>собрали @project.CurrentMoney</del>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <div class="single-project-widget">
                    <h2 class="product-wid-title">Недавно просмотренные (?)</h2>
                    <a href="#" class="wid-view-more">Смотреть Все</a>
                    <div class="single-wid-product">
                        <a href="single-project.html"><img src="/Content/img/project-thumb-3.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-project.html">Очередной проект, обречённый на провал</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>надо $9999</ins> <del>собрали $14.88</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-project.html"><img src="/Content/img/project-thumb-4.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-project.html">очередной проект, обречённый на провал</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>надо $9999</ins> <del>собрали $14.88</del>
                        </div>
                    </div>
                    <div class="single-wid-product">
                        <a href="single-project.html"><img src="/Content/img/project-thumb-1.jpg" alt="" class="product-thumb"></a>
                        <h2><a href="single-project.html">Очередной проект, обречённый на провал</a></h2>
                        <div class="product-wid-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        </div>
                        <div class="product-wid-price">
                            <ins>надо $9999</ins> <del>собрали $14.88</del>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- End product widget area -->