
@{
    ViewBag.Title = "MyProjects";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Мои проекты</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div role="tabpanel">
    <ul class="product-tab" role="tablist">
        <li role="presentation" class="active"><a href="#approved" aria-controls="approved" role="tab" data-toggle="tab">Одобренные</a></li>
        <li role="presentation"><a href="#rejected" aria-controls="rejected" role="tab" data-toggle="tab">Отклоненные</a></li>
        <li role="presentation"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Ожидающие проверки</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="approved">
            <div class="container">
                <h2>Одобренные</h2>
                <p>Список проектов, организатором которых Вы являетесь и которые были одобрены администратором ArtUp</p>
                <div class="row">
                    @foreach (var project in ViewBag.ApprovedProjects)
                    {
                        <div class="col-md-3 col-sm-6">
                            <div class="single-project">
                                <div class="product-upper">
                                    <img src="/Content/img/@project.Avatar" alt="" style='width:263px; height:263px;'>
                                    <div class="product-hover">
                                        <a href="/Home/Project/@project.Id" class="add-to-cart-link"><i class="fa fa-link"></i> Подробнее</a>
                                    </div>
                                </div>
                                <h2><a href="/Home/Project/@project.Id">@project.Title</a></h2>
                                <div class="product-carousel-price">
                                    <ins>осталось @(project.RequiredMoney - project.CurrentMoney) рублей</ins>
                                </div>

                                <div class="product-option-shop">

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="rejected">
            <div class="container">
                <h2>Отклоненные</h2>
                <p>Список проектов, которым было отказано в праве проведения кампании по сбору денег посредством платформы ArtUp (См. <a target="_blank" href="/Home/Rules">Правила</a>)</p>
                <div class="row">
                    @foreach (var project in ViewBag.RejectedProjects)
                    {
                        <div class="col-md-3 col-sm-6">
                            <div class="single-project">
                                <div class="product-upper">
                                    <img src="/Content/img/@project.Avatar" alt="" style='width:263px; height:263px;'>
                                    <div class="product-hover">
                                        <a href="/Home/Project/@project.Id" class="add-to-cart-link"><i class="fa fa-link"></i> Подробнее</a>
                                    </div>
                                </div>
                                <h2><a href="/Home/Project/@project.Id">@project.Title</a></h2>
                                <div class="product-carousel-price">
                                    <ins>осталось @(project.RequiredMoney - project.CurrentMoney) рублей</ins>
                                </div>

                                <div class="product-option-shop">

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade in" id="pending">
            <div class="container">
                <h2>Ожидающие проверки администратором</h2>
                <div class="row">
                    @foreach (var project in ViewBag.PendingProjects)
                    {
                        <div class="col-md-3 col-sm-6">
                            <div class="single-project">
                                <div class="product-upper">
                                    <img src="/Content/img/@project.Avatar" alt="" style='width:263px; height:263px;'>
                                    <div class="product-hover">
                                        <a href="/Home/Project/@project.Id" class="add-to-cart-link"><i class="fa fa-link"></i> Подробнее</a>
                                    </div>
                                </div>
                                <h2><a href="/Home/Project/@project.Id">@project.Title</a></h2>
                                <div class="product-carousel-price">
                                    <ins>осталось @(project.RequiredMoney - project.CurrentMoney) рублей</ins>
                                </div>

                                <div class="product-option-shop">

                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Проекты, которые я поддержал</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-project-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @if (ViewBag.MyDonationProjects == null)
            {
                <p>Вы не поддержали еще ни одного проекта</p>
            }
            else
            {
                foreach (var project in ViewBag.MyDonationProjects)
                {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-project">
                            <div class="product-upper">
                                <img src="/Content/img/@project.Project.Avatar" alt="" style='width:263px; height:263px;'>
                                <div class="product-hover">
                                    <a href="/Home/Project/@project.Id" class="add-to-cart-link"><i class="fa fa-link"></i> Подробнее</a>
                                </div>
                            </div>
                            <h2><a href="/Home/Project/@project.Project.Id">@project.Project.Title</a></h2>
                            <div class="product-carousel-price">
                                <ins>вложено @project.DonationTotal</ins>
                            </div>

                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/Home/Project/@project.Project.Id">Подробнее</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

