@model ArtUp.Client.Models.CommentViewModel
@using ArtUp.Client.Helpers
@{
    ViewBag.Title = "Project";
}

<div class="single-project-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-content-right">
                    <div class="product-breadcroumb">
                        <a href="/Home/Index">Дом</a>
                        <a href="/Home/Category?category=@ViewBag.Project.Category">@Html.ToRusName((string)ViewBag.Project.Category)</a>
                        <a href="/Home/Project/@ViewBag.Project.Id">@ViewBag.Project.Title</a>
                    </div>

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="product-images">
                                <div class="product-main-img">
                                    <img style="width:100%" src="/Content/img/@ViewBag.Project.Avatar" alt="">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="product-inner">
                                <h2 class="product-name">@ViewBag.Project.Title</h2>
                                <div class="product-inner-price">
                                    <ins>надо @ViewBag.Project.RequiredMoney</ins> <del>собрали @ViewBag.Project.CurrentMoney, потрачено</del>
                                </div>
                                @if (Request.IsAuthenticated)
                                {
                                    if (ViewBag.IsApproved)
                                    {
                                        <a href="/Home/Donate/@ViewBag.Project.Id"><input type="submit" value="Поддержать"></a>
                                    }
                                }
                                else
                                {
                                    <p><a href="/Account/Login">Войдите</a> или <a href="/Account/Register">Зарегистрируйтесь</a>, чтобы поддержать проект</p>
                                }
                                @if (User.IsInRole("Admin") && ViewBag.IsPending)
                                {
                                    <p><a href="/UserManagement/ApproveProject">Аппрувнуть проект</a></p>
                                    using (Html.BeginForm("RejectProject", "UserManagement", new { id = @ViewBag.Project.Id }, FormMethod.Post))
                                    {
                                        @Html.TextBox("Comment", "Введиите причину отказа")
                                        <p><input type="submit" value="Откинуть проект"/></p>
                                        
                                    }
                                }

                                @if (User.IsInRole("Admin") && ViewBag.IsApproved && ViewBag.IsEnbleButton)
                                {
                                    if (@ViewBag.Project.IsSeccesfull && !@ViewBag.Project.WasPaid)
                                    {
                                        <p><a href="/UserManagement/TransferMoney/@ViewBag.Project.Id">Выплатить деньги</a></p>
                                    }
                                    if (!@ViewBag.Project.IsSeccesfull && !@ViewBag.Project.WasPaid)
                                    {
                                        <p><a href="/UserManagement/ReturnMoney/@ViewBag.Project.Id">Вернуть деньги пользователям</a></p>
                                        }
                                    }

                                <h4>Подарки поддержавшим:</h4>
                                @foreach (var gift in ViewBag.Gifts)
                                {
                                    <p>@gift.Description: @gift.MoneyAmount, (@gift.CurrentCount of @gift.AvailableCount)</p>
                                }

                            </div>
                        </div>
                    </div>
                    <div role="tabpanel">
                        <ul class="product-tab" role="tablist">
                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Описание</a></li>
                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Комментарии</a></li>
                            <li role="presentation"><a href="#sponsors" aria-controls="sponsors" role="tab" data-toggle="tab">Спонсоры</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="home">
                                <h2>Описание</h2>
                                <p>@ViewBag.Project.FullDescription</p>
                                <p>Локация проекта: @ViewBag.Project.Location</p>
                                <p>Mauris placerat vitae lorem gravida viverra. Mauris in fringilla ex. Nulla facilisi. Etiam scelerisque tincidunt quam facilisis lobortis. In malesuada pulvinar neque a consectetur. Nunc aliquam gravida purus, non malesuada sem accumsan in. Morbi vel sodales libero.</p>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                <h2>Комментарии</h2>
                                @foreach (var comment in ViewBag.Comments)
                                {
                                    <p>@comment.Date, @comment.Text, @comment.Author</p>
                                }
                                <div class="submit-review">
                                    @if (Request.IsAuthenticated)
                                    {
                                        using (Ajax.BeginForm("LeaveComment", "Home", new AjaxOptions() { UpdateTargetId = "comments" }))
                                        {
                                            <p>
                                                @Html.Hidden("ProjectId", (int)ViewBag.Project.Id)
                                                @Html.Hidden("UserId", (int)ViewBag.UserId)
                                                <label for="review">Текст комментария</label>
                                                @Html.TextAreaFor(m => m.Text, new { @cols = "30", @rows = "10" })
                                            </p>
                                            <p><input type="submit" value="Оставить"></p>
                                        }
                                    }
                                    else
                                    {
                                        <p><a href="/Account/Login">Войдите</a> или <a href="/Account/Register">зарегистрируйтесь</a>, чтобы оставлять комментарии</p>
                                    }

                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade in" id="sponsors">
                                <h2>Спонсоры</h2>
                                @foreach (var donation in ViewBag.Donations)
                                {
                                    <p>@donation.DonationDate, @donation.Amount, @donation.Email</p>
                                }
                            </div>
                        </div>
                    </div>

                    <div class="related-products-wrapper">
                        <h2 class="related-products-title">Похожие проекты</h2>
                        <div class="related-products-carousel">
                            @foreach (var project in ViewBag.SimilarProjects)
                            {
                                <div class="single-project">
                                    <div class="product-f-image">
                                        <img src="/Content/img/@project.Avatar" alt="">
                                        <div class="product-hover">
                                            <a href="/Home/Project/@project.Id" class="add-to-cart-link"><i class="fa fa-link"></i> Подробнее</a>
                                        </div>
                                    </div>
                                    <h2><a href="/Home/Project/@project.Id">@project.Title</a></h2>
                                    <div class="product-carousel-price">
                                        <ins>надо @project.RequiredMoney</ins> <del>собрали @project.CurrentMoney</del>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

