@model ArtUp.Client.Models.WideSearchViewModel
@{
    ViewBag.Title = "WideSearch";
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Расширенный поиск</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-project-area">
    <div class="container">
        <div class="row">
            @using (Html.BeginForm("WideSearch", "Home", FormMethod.Post))
            {
                <div>
                    @Html.LabelFor(m => m.Category, "Категория")
                    @Html.DropDownListFor(m => m.Category, new List<SelectListItem>()
                    {
                        new SelectListItem() { Text = "Любая"},
                        new SelectListItem() { Text = "Музыка"},
                        new SelectListItem() { Text = "Литература"},
                        new SelectListItem() { Text = "Кино и видео"},
                        new SelectListItem() { Text = "Фотография"},
                        new SelectListItem() { Text = "Живопись"}
                    },
                    new {@class = "form-control"})
                </div>
                <div>
                    @Html.LabelFor(m => m.Location, "Локация проекта")
                    @Html.DropDownListFor(m => m.Location, new List<SelectListItem>()
                    {
                        #region Cities
                                    new SelectListItem() { Text = "Любая" },
                                    new SelectListItem() { Text = "Минск" },
new SelectListItem() { Text = "Брест" },
new SelectListItem() { Text = "Витебск" },
new SelectListItem() { Text = "Гомель" },
new SelectListItem() { Text = "Гродно" },
new SelectListItem() { Text = "Могилев" },
new SelectListItem() { Text = "Барановичи" },
new SelectListItem() { Text = "Барань" },
new SelectListItem() { Text = "Белоозёрск" },
new SelectListItem() { Text = "Берёза" },
new SelectListItem() { Text = "Березино" },
new SelectListItem() { Text = "Берёзовка" },
new SelectListItem() { Text = "Бобруйск" },
new SelectListItem() { Text = "Борисов" },
new SelectListItem() { Text = "Буда-Кошелёво" },
new SelectListItem() { Text = "Быхов" },
new SelectListItem() { Text = "Василевичи" },
new SelectListItem() { Text = "Верхнедвинск" },
new SelectListItem() { Text = "Ветка" },
new SelectListItem() { Text = "Вилейка" },
new SelectListItem() { Text = "Волковыск" },
new SelectListItem() { Text = "Воложин" },
new SelectListItem() { Text = "Высокое" },
new SelectListItem() { Text = "Ганцевичи" },
new SelectListItem() { Text = "Глубокое" },
new SelectListItem() { Text = "Горки" },
new SelectListItem() { Text = "Городок" },
new SelectListItem() { Text = "Давид-Городок" },
new SelectListItem() { Text = "Дзержинск" },
new SelectListItem() { Text = "Дисна" },
new SelectListItem() { Text = "Добруш" },
new SelectListItem() { Text = "Докшицы" },
new SelectListItem() { Text = "Дрогичин" },
new SelectListItem() { Text = "Дубровно" },
new SelectListItem() { Text = "Дятлово" },
new SelectListItem() { Text = "Ельск" },
new SelectListItem() { Text = "Жабинка" },
new SelectListItem() { Text = "Житковичи" },
new SelectListItem() { Text = "Жлобин" },
new SelectListItem() { Text = "Жодино" },
new SelectListItem() { Text = "Заславль" },
new SelectListItem() { Text = "Иваново" },
new SelectListItem() { Text = "Ивацевичи" },
new SelectListItem() { Text = "Ивье" },
new SelectListItem() { Text = "Калинковичи" },
new SelectListItem() { Text = "Каменец" },
new SelectListItem() { Text = "Кировск" },
new SelectListItem() { Text = "Клецк" },
new SelectListItem() { Text = "Климовичи" },
new SelectListItem() { Text = "Кличев" },
new SelectListItem() { Text = "Кобрин" },
new SelectListItem() { Text = "Копыль" },
new SelectListItem() { Text = "Коссово" },
new SelectListItem() { Text = "Костюковичи" },
new SelectListItem() { Text = "Кричев" },
new SelectListItem() { Text = "Крупки" },
new SelectListItem() { Text = "Лепель" },
new SelectListItem() { Text = "Лида" },
new SelectListItem() { Text = "Логойск" },
new SelectListItem() { Text = "Лунинец" },
new SelectListItem() { Text = "Любань" },
new SelectListItem() { Text = "Ляховичи" },
new SelectListItem() { Text = "Малорита" },
new SelectListItem() { Text = "Марьина Горка" },
new SelectListItem() { Text = "Микашевичи" },
new SelectListItem() { Text = "Миоры" },
new SelectListItem() { Text = "Молодечно" },
new SelectListItem() { Text = "Мосты" },
new SelectListItem() { Text = "Мстиславль" },
new SelectListItem() { Text = "Мядель" },
new SelectListItem() { Text = "Наровля" },
new SelectListItem() { Text = "Несвиж" },
new SelectListItem() { Text = "Новогрудок" },
new SelectListItem() { Text = "Новолукомль" },
new SelectListItem() { Text = "Новополоцк" },
new SelectListItem() { Text = "Орша" },
new SelectListItem() { Text = "Осиповичи" },
new SelectListItem() { Text = "Ошмяны" },
new SelectListItem() { Text = "Петриков" },
new SelectListItem() { Text = "Пинск" },
new SelectListItem() { Text = "Полоцк" },
new SelectListItem() { Text = "Поставы" },
new SelectListItem() { Text = "Пружаны" },
new SelectListItem() { Text = "Речица" },
new SelectListItem() { Text = "Рогачёв" },
new SelectListItem() { Text = "Санкт-Петербург" },
new SelectListItem() { Text = "Светлогорск" },
new SelectListItem() { Text = "Свислочь" },
new SelectListItem() { Text = "Сенно" },
new SelectListItem() { Text = "Скидель" },
new SelectListItem() { Text = "Славгород" },
new SelectListItem() { Text = "Слоним" },
new SelectListItem() { Text = "Слуцк" },
new SelectListItem() { Text = "Смолевичи" },
new SelectListItem() { Text = "Сморгонь" },
new SelectListItem() { Text = "Солигорск" },
new SelectListItem() { Text = "Старые Дороги" },
new SelectListItem() { Text = "Столбцы" },
new SelectListItem() { Text = "Столин" },
new SelectListItem() { Text = "Толочин" },
new SelectListItem() { Text = "Туров" },
new SelectListItem() { Text = "Узда" },
new SelectListItem() { Text = "Фаниполь" },
new SelectListItem() { Text = "Хойники" },
new SelectListItem() { Text = "Чаусы" },
new SelectListItem() { Text = "Чашники" },
new SelectListItem() { Text = "Червень" },
new SelectListItem() { Text = "Чериков" },
new SelectListItem() { Text = "Чечерск" },
new SelectListItem() { Text = "Шклов" },
new SelectListItem() { Text = "Щучин" }
                                #endregion
                    },
                    new {@class = "form-control"})
                </div>
                <div>
                    @Html.LabelFor(m => m.IsSuccessful, "Успешность проекта")
                    @Html.DropDownListFor(m => m.IsSuccessful, new List<SelectListItem>()
                    {
                        new SelectListItem() { Text = "Не важно"},
                        new SelectListItem() { Text = "Успешный"},
                        new SelectListItem() { Text = "Неуспешный"}
                    },
                    new {@class = "form-control"})
                </div>
                <div>
                    <input type="submit" value="Найти" />
                </div>
            }
        </div>
    </div>
</div>
