@model ArtUp.BankMockUI.Models.AccountViewModel

@{
    ViewBag.Title = "Bank account page";
}

<h2>Счет № @Model.Nubmer</h2>

<div>
    <h4>Пользователь: @Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nubmer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nubmer)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatronomicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatronomicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adress)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Money)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Money)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Вернуться", "Index")
</p>
