@using ArtUp.Client.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<style>
    ol, ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.form-list > li {
    margin-bottom: 10px;
}
label.required em, span.required em, p.required {
    content: ' *';
    color: #df280a;
}
.main-container {
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
    color: #434343;
    font-size: 12px;
    line-height: 1.5;
    position: relative;
    max-width: 1260px;
    margin: 0 auto;
    padding: 30px;
    font-family: "Helvetica Neue", Verdana, Arial, sans-serif;
}
.main-container h1 {
    font-size: 24px;
}
.main-container h2 {
    font-size: 20px;
}
.main-container  .page-title {
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid #ededed;
    padding-bottom: 3px;
    margin-bottom: 15px;
    text-transform: uppercase;
}
.form-list .field, .form-list .wide, .form-list .control {
    margin-bottom: 10px;
}
.main-container form input[type="text"],
.main-container form input[type="email"],
.main-container form input[type="password"]
{
    padding: 3px 5px;
    width: 400px;
}
.pay-main .inner_section {
    position: relative;
    margin-bottom: 20px;
    padding: 20px;
    border-top: 4px solid transparent;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #e7f9f5;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
     box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.pay-main .pay__left, .pay-main .pay__right {
    padding-left: 0;
}
.pay-main hr {
    border-top: 1px solid #8a9;
}
.pay-main .donate__status {
    margin-top: -15px;
}
.pay-main .section__body__left {
    display: inline-block;
}
</style>

<div class="main-container login-main">
    <div class="account-login">
        <div class="page-title">
            <h1>Войти или создать аккаунт</h1>
        </div>
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @id = "login-form", @class = "scaffold-form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="col2-set">
                    <div class="col-1 new-users">
                        <div class="content">
                            <h2>Впервые тут?</h2>
                            <p class="form-instructions">Создать аккаунт легко и просто!</p>
                        </div>
                        <div class="buttons-set">
                            <a title="Create an Account" class="button" href="/Account/Register"><span><span>Зарегистрироваться</span></span></a>
                        </div>
                    </div>
                    <div class="col-2 registered-users">
                        <div class="content fieldset">
                            <h2>Уже зарегистрированы?</h2>
                            <p class="form-instructions">Если у Вас уже есть аккаунт, войдите на ArtUp</p>
                            <p class="required">* Обязательные поля</p>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <ul class="form-list">
                                <li>
                                    <label for="email" class="required"><em>*</em>E-mail</label>
                                    <div class="input-box">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "input-text required-entry validate-email", @name = "login[username]", @id = "email", @title = "Email Address", @autocapitalize = "off", @autocorrect = "off", @spellcheck = "false" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                    </div>
                                </li>
                                <li>
                                    <label for="pass" class="required"><em>*</em>Пароль</label>
                                    <div class="input-box">
                                        @Html.PasswordFor(m => m.Password, new { @class = "input-text required-entry validate-password", @name = "login[password]", @id = "pass", @title = "Password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="f-left">Забыли пароль?</a>
                                </li>
                            </ul>
                        </div>
                        <div class="buttons-set">
                            <button type="submit" class="button" title="Login" name="send" id="send2"><span><span>Войти</span></span></button>
                        </div>
                    </div>
                </div>
            } 
</div>
</div>