@model IEnumerable<ArtUp.Client.Models.AdminProjectsViewModel>

@{
    ViewBag.Title = "GetProjects";
}

<h2>Проекты</h2>

<div role="tabpanel">
    <ul class="product-tab" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Одобренные</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Ожидающие</a></li>
        <li role="presentation"><a href="#sponsors" aria-controls="sponsors" role="tab" data-toggle="tab">Отвергнутые</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
            <h2>Проектики</h2>
            <div class="row">
                @foreach (var project in ViewBag.AllProjects.ApprovedProjects)
            {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="/Content/img/@project.Avatar" alt="">
                            </div>
                            <h2><a href="/Home/Project/@project.Id">@project.Title</a></h2>
                            <div class="product-carousel-price">
                                <ins>надо @project.RequiredMoney</ins>
                            </div>

                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/Home/Project/@project.Id">Подробнее</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
            <div class="row">
                @foreach (var project in ViewBag.AllProjects.PendingProjects)
            {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="/Content/img/@project.Avatar" alt="">
                            </div>
                            <h2><a href="/Home/Project/@project.Id">@project.Title</a></h2>
                            <div class="product-carousel-price">
                                <ins>надо @project.RequiredMoney</ins>
                            </div>

                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/Home/Project/@project.Id">Подробнее</a>
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/UserManagement/ApproveProject/@project.Id">Апрувнуть ето</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
        <div role="tabpanel" class="tab-pane fade in" id="sponsors">
            <div class="row">
                @foreach (var project in ViewBag.AllProjects.RejectProjects)
            {
                    <div class="col-md-3 col-sm-6">
                        <div class="single-shop-product">
                            <div class="product-upper">
                                <img src="/Content/img/@project.Avatar" alt="">
                            </div>
                            <h2><a href="/Home/Project/@project.Id">@project.Title</a></h2>
                            <div class="product-carousel-price">
                                <ins>надо @project.RequiredMoney</ins>
                            </div>

                            <div class="product-option-shop">
                                <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/Home/Project/@project.Id">Подробнее</a>
                            </div>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

