@model ArtUp.Client.Models.PlatformDetailsViewModel

@{
    ViewBag.Title = "GetSettings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-container admin-main">
    <div class="col-md-2 col-sm-2 col-lg-2">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/UserManagement/Users">Пользователи</a></li>
                <li><a href="/UserManagement/GetProjects">Проекты</a></li>
                <li><a href="/UserManagement/GetSettings" class="active">Настройки</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10 col-sm-10 col-lg-10">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(model => model.IncomeTax, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.IncomeTax, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.IncomeTax, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.PlatformComission, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.PlatformComission, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.PlatformComission, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.MaxFreeAmount, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-9">
                        @Html.EditorFor(model => model.MaxFreeAmount, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaxFreeAmount, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-3 col-md-9">
                        <input type="submit" value="Сохранить" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>