@model ArtUp.Client.Models.UserViewModel

@{
    ViewBag.Title = "Пользователь";
}

<div class="main-container admin-main">
    <div class="col-md-2 col-sm-2 col-lg-2">
        <div class="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/UserManagement/Users" class="active">Пользователи</a></li>
                <li><a href="/UserManagement/GetProjects">Проекты</a></li>
                <li><a href="/UserManagement/GetSettings">Настройки</a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-10 col-sm-10 col-lg-10">
        <h2>Пользователь @Model.Email</h2>
        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.RegistrationDate)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.RegistrationDate)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>
                @*<dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Surname)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Surname)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.About)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.About)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Avatar)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Avatar)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Location)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Location)
                </dd>*@
            </dl>
        </div>
        <p>
            @if (Model.IsActive)
            {
                @Html.ActionLink("Заблокировать пользователя", "DeactiveUser", new { id = Model.Id })
                
            }
            else
            {
                @Html.ActionLink("Активировать пользователя", "DeactiveUser", new { id = Model.Id })
            }

             | @Html.ActionLink("Назад к списку", "Users")
        </p>
    </div>
</div>